header {
  background-color: rgb(112, 16, 177);
  color: white;
  text-align: center;
  padding: 20px;
}
body{
    font-family: sans-serif;
    font-size: medium;
}
h2{
    color: rgb(112, 16, 177) ;
    
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: block;
  margin-bottom: 10px;
}
